In [3]:
!pip install ipython-sql

Collecting ipython-sql
  Obtaining dependency information for ipython-sql from https://files.pythonhosted.org/packages/30/8f/9e50fa53ffc371483f9d1b90c1175b706d28a2e978e90a8894035af01905/ipython_sql-0.5.0-py3-none-any.whl.metadata
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Obtaining dependency information for prettytable from https://files.pythonhosted.org/packages/3d/c4/a32f4bf44faf95accbbd5d7864ddef9e289749a8efbc3adaad4a4671779a/prettytable-3.10.0-py3-none-any.whl.metadata
  Downloading prettytable-3.10.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in c:\users\vikas\anaconda3\lib\site-packages (from ipython-sql) (8.12.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Obtaining dependency information for sqlalchemy>=2.0 from https://files.pythonhosted.org/packages/83/34/e760f4e78b2aeb04a74ae7338f9c215570a256755ab0026336037ec8df75/SQLAlchemy-2.0.29-cp311-cp311-win_amd64.whl.metadata
  Downloading SQLAlchemy-2.0.29-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Collecting sqlparse (from ipython-sql)
  Obtaining dependency information for sqlparse from https://files.pythonhosted.org/packages/43/5d/a0fdd88fd486b39ae1fd1a75ff75b4e29a0df96c0304d462fd407b82efe0/sqlparse-0.5.0-py3-none-any.whl.metadata
  Downloading sqlparse-0.5.0-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\users\vikas\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\vikas\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\vikas\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\vikas\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\users\vikas\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\vikas\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\vikas\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\vikas\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\vikas\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\vikas\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\vikas\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\vikas\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\vikas\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\vikas\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\vikas\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\vikas\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\vikas\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\vikas\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\vikas\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading SQLAlchemy-2.0.29-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   --- ------------------------------------ 0.2/2.1 MB 3.9 MB/s eta 0:00:01
   -------- ------------------------------- 0.4/2.1 MB 4.4 MB/s eta 0:00:01
   ---------- ----------------------------- 0.6/2.1 MB 3.8 MB/s eta 0:00:01
   --------------- ------------------------ 0.8/2.1 MB 4.2 MB/s eta 0:00:01
   ------------------ --------------------- 1.0/2.1 MB 4.0 MB/s eta 0:00:01
   ----------------------- ---------------- 1.2/2.1 MB 4.4 MB/s eta 0:00:01
   -------------------------- ------------- 1.4/2.1 MB 4.6 MB/s eta 0:00:01
   ---------------------------- ----------- 1.5/2.1 MB 4.1 MB/s eta 0:00:01
   ------------------------------ --------- 1.6/2.1 MB 3.8 MB/s eta 0:00:01
   ------------------------------ --------- 1.6/2.1 MB 3.8 MB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 3.5 MB/s eta 0:00:01
   -------------------------------------- - 2.0/2.1 MB 3.5 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 3.5 MB/s eta 0:00:00
Downloading prettytable-3.10.0-py3-none-any.whl (28 kB)
Downloading sqlparse-0.5.0-py3-none-any.whl (43 kB)
   ---------------------------------------- 0.0/44.0 kB ? eta -:--:--
   ---------------------------------------- 44.0/44.0 kB 2.1 MB/s eta 0:00:00
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed ipython-sql-0.5.0 prettytable-3.10.0 sqlalchemy-2.0.29 sqlparse-0.5.0

In [4]:
%sql postgresql://postgres@localhost:5432/northwind

UsageError: Line magic function `%sql` not found.

In [5]:
%load_ext sql

In [7]:
postgresql://postgres@localhost:5432/northwind

SyntaxError: invalid syntax (876932906.py, line 1)

In [14]:
%sql postgresql://postgres:vks5639@localhost:5432/northwind

In [15]:
%%sql --only use this line if running in Jupyter Notebook
SELECT table_name AS name,
       table_type AS type
  FROM information_schema.tables
 WHERE table_schema = 'public' AND table_type IN ('BASE TABLE', 'VIEW');

 * postgresql://postgres:***@localhost:5432/northwind
14 rows affected.

[('territories', 'BASE TABLE'),
 ('order_details', 'BASE TABLE'),
 ('employee_territories', 'BASE TABLE'),
 ('us_states', 'BASE TABLE'),
 ('customers', 'BASE TABLE'),
 ('orders', 'BASE TABLE'),
 ('employees', 'BASE TABLE'),
 ('shippers', 'BASE TABLE'),
 ('products', 'BASE TABLE'),
 ('categories', 'BASE TABLE'),
 ('suppliers', 'BASE TABLE'),
 ('region', 'BASE TABLE'),
 ('customer_demographics', 'BASE TABLE'),
 ('customer_customer_demo', 'BASE TABLE')]

In [19]:
%%sql
CREATE VIEW orders_customers AS
SELECT o.order_id,
    c.company_name,
    c.contact_name,
    o.order_date FROM orders o
LEFT OUTER JOIN customers c
ON o.customer_id=c.customer_id;

 * postgresql://postgres:***@localhost:5432/northwind
Done.

[]

In [22]:
%%sql
SELECT * FROM orders_customers
LIMIT 5;

 * postgresql://postgres:***@localhost:5432/northwind
5 rows affected.

[(10248, 'Vins et alcools Chevalier', 'Paul Henriot', datetime.date(1996, 7, 4)),
 (10249, 'Toms Spezialitäten', 'Karin Josephs', datetime.date(1996, 7, 5)),
 (10250, 'Hanari Carnes', 'Mario Pontes', datetime.date(1996, 7, 8)),
 (10251, 'Victuailles en stock', 'Mary Saveley', datetime.date(1996, 7, 8)),
 (10252, 'Suprêmes délices', 'Pascale Cartrain', datetime.date(1996, 7, 9))]

In [24]:
%%sql
CREATE VIEW orderdetails_products AS
SELECT o.order_id, order_date, p.product_id, product_name, od.unit_price, quantity, discount
FROM orders o
LEFT OUTER JOIN order_details od
ON o.order_id=od.order_id
INNER JOIN products p
ON od.product_id=p.product_id;

 * postgresql://postgres:***@localhost:5432/northwind
Done.

[]

In [28]:
%%sql
SELECT * FROM orderdetails_products
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/northwind
10 rows affected.

[(10248, datetime.date(1996, 7, 4), 11, 'Queso Cabrales', 14.0, 12, 0.0),
 (10248, datetime.date(1996, 7, 4), 42, 'Singaporean Hokkien Fried Mee', 9.8, 10, 0.0),
 (10248, datetime.date(1996, 7, 4), 72, 'Mozzarella di Giovanni', 34.8, 5, 0.0),
 (10249, datetime.date(1996, 7, 5), 14, 'Tofu', 18.6, 9, 0.0),
 (10249, datetime.date(1996, 7, 5), 51, 'Manjimup Dried Apples', 42.4, 40, 0.0),
 (10250, datetime.date(1996, 7, 8), 41, "Jack's New England Clam Chowder", 7.7, 10, 0.0),
 (10250, datetime.date(1996, 7, 8), 51, 'Manjimup Dried Apples', 42.4, 35, 0.15),
 (10250, datetime.date(1996, 7, 8), 65, 'Louisiana Fiery Hot Pepper Sauce', 16.8, 15, 0.15),
 (10251, datetime.date(1996, 7, 8), 22, "Gustaf's Knäckebröd", 16.8, 6, 0.05),
 (10251, datetime.date(1996, 7, 8), 57, 'Ravioli Angelo', 15.6, 15, 0.05)]

In [34]:
%%sql
CREATE VIEW emp_orders AS
SELECT order_id, o.employee_id, order_date, last_name || ' ' || first_name AS emp_name
FROM orders o
LEFT OUTER JOIN employees e
ON o.employee_id=e.employee_id;

 * postgresql://postgres:***@localhost:5432/northwind
Done.
Done.

[]

In [44]:
%%sql
WITH emp_sales AS (
SELECT e.employee_id, last_name || ' ' || first_name AS emp_name,SUM(unit_price*quantity*(1-discount)) AS total_sales
FROM employees e
JOIN orders o
ON e.employee_id=o.employee_id
JOIN order_details od 
ON od.order_id=o.order_id
GROUP BY e.employee_id
)
SELECT *, RANK() OVER(ORDER BY total_sales DESC) AS emp_sales_rank
FROM emp_sales;

 * postgresql://postgres:***@localhost:5432/northwind
9 rows affected.

[(4, 'Peacock Margaret', 232890.84598203757, 1),
 (3, 'Leverling Janet', 202812.84238787484, 2),
 (1, 'Davolio Nancy', 192107.60465689204, 3),
 (2, 'Fuller Andrew', 166537.75528742478, 4),
 (8, 'Callahan Laura', 126862.2774778762, 5),
 (7, 'King Robert', 124568.23485103557, 6),
 (9, 'Dodsworth Anne', 77308.06623830303, 7),
 (6, 'Suyama Michael', 73913.12937797053, 8),
 (5, 'Buchanan Steven', 68792.28239394959, 9)]

In [51]:
%%sql
WITH orders_details AS (
SELECT DATE_TRUNC('MONTH',order_date)::DATE AS month, SUM(unit_price*quantity*(1-discount)) AS monthly_sales
FROM orders o
JOIN order_details od
ON o.order_id=od.order_id
GROUP BY DATE_TRUNC('MONTH',order_date) 
)
SELECT month, SUM(monthly_sales) OVER(ORDER BY month) AS running_total
FROM orders_details;

 * postgresql://postgres:***@localhost:5432/northwind
23 rows affected.

[(datetime.date(1996, 7, 1), 27861.89512966156),
 (datetime.date(1996, 8, 1), 53347.17020040483),
 (datetime.date(1996, 9, 1), 79728.57033299239),
 (datetime.date(1996, 10, 1), 117244.29527847127),
 (datetime.date(1996, 11, 1), 162844.3404896083),
 (datetime.date(1996, 12, 1), 208083.97098282274),
 (datetime.date(1997, 1, 1), 269342.0411508011),
 (datetime.date(1997, 2, 1), 307825.6761011254),
 (datetime.date(1997, 3, 1), 346372.8962108522),
 (datetime.date(1997, 4, 1), 399405.8485997937),
 (datetime.date(1997, 5, 1), 453187.13842493534),
 (datetime.date(1997, 6, 1), 489549.9407597378),
 (datetime.date(1997, 7, 1), 540570.7982783426),
 (datetime.date(1997, 8, 1), 587858.4679665978),
 (datetime.date(1997, 9, 1), 643487.7103683471),
 (datetime.date(1997, 10, 1), 710236.9361440743),
 (datetime.date(1997, 11, 1), 753770.7449116395),
 (datetime.date(1997, 12, 1), 825169.1733755233),
 (datetime.date(1998, 1, 1), 919391.2835824591),
 (datetime.date(1998, 2, 1), 1018806.5709654673),
 (datetime.date(1998, 3, 1), 1123660.7259656242),
 (datetime.date(1998, 4, 1), 1247459.4082211715),
 (datetime.date(1998, 5, 1), 1265793.0386533642)]

In [60]:
%%sql
WITH monthly_sales AS (
SELECT DATE_TRUNC('MONTH', order_date)::DATE AS months, SUM(unit_price*quantity*(1-discount)) AS monthly_sales
FROM orders o
JOIN order_details od
ON o.order_id=od.order_id
GROUP BY months
),
prev_mon_sales AS (
SELECT months, monthly_sales, LAG(monthly_sales,1) OVER(ORDER BY months) AS prev_mon_sales 
FROM monthly_sales
)
SELECT months, prev_mon_sales, ((monthly_sales - prev_mon_sales) / prev_mon_sales) *100 AS growth_rate
FROM prev_mon_sales
;

 * postgresql://postgres:***@localhost:5432/northwind
23 rows affected.

[(datetime.date(1996, 7, 1), None, None),
 (datetime.date(1996, 8, 1), 27861.89512966156, -8.530001451294545),
 (datetime.date(1996, 9, 1), 25485.275070743264, 3.51624637896504),
 (datetime.date(1996, 10, 1), 26381.400132587554, 42.20520805162909),
 (datetime.date(1996, 11, 1), 37515.72494547888, 21.54915112904513),
 (datetime.date(1996, 12, 1), 45600.04521113701, -0.7903823696967553),
 (datetime.date(1997, 1, 1), 45239.630493214434, 35.40798079057388),
 (datetime.date(1997, 2, 1), 61258.0701679784, -37.17785290199861),
 (datetime.date(1997, 3, 1), 38483.6349503243, 0.16522649038887202),
 (datetime.date(1997, 4, 1), 38547.22010972678, 37.579187910257275),
 (datetime.date(1997, 5, 1), 53032.95238894149, 1.4110800973551207),
 (datetime.date(1997, 6, 1), 53781.28982514166, -32.38763433709323),
 (datetime.date(1997, 7, 1), 36362.80233480245, 40.31057631048775),
 (datetime.date(1997, 8, 1), 51020.85751860481, -7.316983704141531),
 (datetime.date(1997, 9, 1), 47287.66968825523, 17.64005874784288),
 (datetime.date(1997, 10, 1), 55629.24240174934, 19.98945679265288),
 (datetime.date(1997, 11, 1), 66749.22577572716, -34.780054357730286),
 (datetime.date(1997, 12, 1), 43533.80876756514, 64.00685004404939),
 (datetime.date(1998, 1, 1), 71398.42846388379, 31.966644412344674),
 (datetime.date(1998, 2, 1), 94222.1102069358, 5.511633272346428),
 (datetime.date(1998, 3, 1), 99415.2873830082, 5.47085640480519),
 (datetime.date(1998, 4, 1), 104854.15500015698, 18.06750267107856),
 (datetime.date(1998, 5, 1), 123798.6822555472, -85.1907709370056)]

In [77]:
%%sql
WITH order_value AS (
SELECT customer_id,o.order_id, SUM(unit_price*quantity*(1-discount)) AS order_value
FROM orders o
JOIN order_details od
ON od.order_id=o.order_id
GROUP BY customer_id, o.order_id
)
SELECT customer_id, order_id, order_value,
CASE
WHEN order_value>AVG(order_value) OVER() THEN 'Above Average' 
ELSE 'Below Average'
END AS "Value Category"
FROM order_value;

 * postgresql://postgres:***@localhost:5432/northwind
830 rows affected.

[('SUPRD', 11038, 732.5999981999397, 'Below Average'),
 ('CACTU', 10782, 12.5, 'Below Average'),
 ('FAMIA', 10725, 287.7999954223633, 'Below Average'),
 ('GOURL', 10423, 1020.0, 'Below Average'),
 ('TORTU', 10518, 4150.050006866455, 'Above Average'),
 ('WANDK', 10356, 1106.3999938964844, 'Below Average'),
 ('FURIB', 10963, 57.799999594688416, 'Below Average'),
 ('WHITC', 10596, 1180.880024897754, 'Below Average'),
 ('ROMEY', 10282, 155.40000534057617, 'Below Average'),
 ('QUICK', 10658, 4464.599971601367, 'Above Average'),
 ('LILAS', 10283, 1414.8000202178955, 'Below Average'),
 ('LETSS', 10579, 317.75, 'Below Average'),
 ('WHITC', 10693, 2071.1999798297884, 'Above Average'),
 ('MAISD', 10896, 750.5, 'Below Average'),
 ('HUNGC', 10660, 1701.0, 'Above Average'),
 ('HANAR', 10253, 1444.7999839782715, 'Below Average'),
 ('LAMAI', 10425, 360.0, 'Below Average'),
 ('FOLKO', 10774, 868.75, 'Below Average'),
 ('WILMK', 10615, 120.0, 'Below Average'),
 ('ERNSH', 10514, 8623.4499168396, 'Above Average'),
 ('VICTE', 10850, 628.9999955892563, 'Below Average'),
 ('TORTU', 10276, 419.99999046325684, 'Below Average'),
 ('MAISD', 10978, 1303.1949922281503, 'Below Average'),
 ('EASTC', 10532, 796.3499908447266, 'Below Average'),
 ('BONAP', 10340, 2436.1799669232964, 'Above Average'),
 ('WELLI', 10256, 517.8000068664551, 'Below Average'),
 ('RATTC', 10889, 11380.0, 'Above Average'),
 ('RATTC', 10294, 1887.6000080108643, 'Above Average'),
 ('GOURL', 10959, 131.749999076128, 'Below Average'),
 ('SAVEA', 11064, 4330.3999724164605, 'Above Average'),
 ('WILMK', 10673, 412.35000228881836, 'Below Average'),
 ('MAGAA', 10300, 608.0000114440918, 'Below Average'),
 ('GROSR', 10268, 1101.1999969482422, 'Below Average'),
 ('SPECD', 10964, 2052.5, 'Above Average'),
 ('HUNGO', 10567, 2518.999991208315, 'Above Average'),
 ('MAISD', 10529, 946.0, 'Below Average'),
 ('BSBEV', 10947, 220.0, 'Below Average'),
 ('LAZYK', 10545, 210.0, 'Below Average'),
 ('LILAS', 10997, 1885.0, 'Above Average'),
 ('MAGAA', 10950, 110.0, 'Below Average'),
 ('DRACD', 11036, 1692.0, 'Above Average'),
 ('BLAUS', 10614, 464.0, 'Below Average'),
 ('GREAL', 10589, 72.0, 'Below Average'),
 ('BLONP', 10628, 450.0, 'Below Average'),
 ('ERNSH', 10403, 855.0149758464099, 'Below Average'),
 ('FOLKO', 10762, 4337.0, 'Above Average'),
 ('SEVES', 10869, 1630.0, 'Above Average'),
 ('MORGK', 10277, 1200.800048828125, 'Below Average'),
 ('FRANR', 10671, 920.0999908447266, 'Below Average'),
 ('LILAS', 10543, 1504.4999894499779, 'Below Average'),
 ('TOMSP', 10967, 910.3999977111816, 'Below Average'),
 ('RATTC', 10272, 1456.0, 'Below Average'),
 ('SUPRD', 10930, 2255.500035174191, 'Above Average'),
 ('DRACD', 10797, 420.0, 'Below Average'),
 ('WOLZA', 10792, 399.8499994277954, 'Below Average'),
 ('ANTON', 10677, 813.364982623458, 'Below Average'),
 ('WHITC', 10696, 996.0, 'Below Average'),
 ('BONAP', 10827, 843.0, 'Below Average'),
 ('LINOD', 10811, 851.9999856948853, 'Below Average'),
 ('VAFFE', 10591, 812.4999904632568, 'Below Average'),
 ('ISLAT', 10315, 516.7999973297119, 'Below Average'),
 ('FRANR', 10860, 519.0, 'Below Average'),
 ('WARTH', 10750, 1590.5624888464808, 'Above Average'),
 ('GOURL', 10734, 1498.3499908447266, 'Below Average'),
 ('PICCO', 10489, 439.1999845504761, 'Below Average'),
 ('EASTC', 10364, 949.9999809265137, 'Below Average'),
 ('RICAR', 10447, 914.3999824523926, 'Below Average'),
 ('GOURL', 10709, 3424.0, 'Above Average'),
 ('GREAL', 11040, 200.0, 'Below Average'),
 ('RICSU', 10419, 2097.6000273466107, 'Above Average'),
 ('CHOPS', 10254, 556.62000967741, 'Below Average'),
 ('QUEDE', 10720, 550.0, 'Below Average'),
 ('FRANK', 10623, 1336.9499960422515, 'Below Average'),
 ('LAMAI', 10454, 331.19999571442605, 'Below Average'),
 ('SAVEA', 10398, 2505.6000675201412, 'Above Average'),
 ('QUEEN', 10637, 2761.937497998588, 'Above Average'),
 ('LILAS', 11065, 189.41999530792236, 'Below Average'),
 ('HANAR', 10645, 1535.0, 'Above Average'),
 ('MEREP', 10605, 4109.700018520653, 'Above Average'),
 ('WELLI', 10585, 142.5, 'Below Average'),
 ('SUPRD', 11035, 1754.4999980926514, 'Above Average'),
 ('BSBEV', 10538, 139.79999923706055, 'Below Average'),
 ('ERNSH', 10430, 4899.200002658367, 'Above Average'),
 ('VAFFE', 10399, 1765.600004196167, 'Above Average'),
 ('PRINI', 11007, 2633.9000091552734, 'Above Average'),
 ('ALFKI', 10952, 471.19999665021896, 'Below Average'),
 ('ROMEY', 10281, 86.49999809265137, 'Below Average'),
 ('LEHMS', 10497, 1380.5999660491943, 'Below Average'),
 ('DUMON', 10683, 63.0, 'Below Average'),
 ('GODOS', 10888, 605.0, 'Below Average'),
 ('SAVEA', 10847, 4931.919979796112, 'Above Average'),
 ('RATTC', 10761, 507.0, 'Below Average'),
 ('QUEEN', 10659, 1227.0199903401733, 'Below Average'),
 ('COMMI', 10494, 911.9999885559082, 'Below Average'),
 ('SPLIR', 10329, 4578.430057654232, 'Above Average'),
 ('GOURL', 10652, 318.83499908447266, 'Below Average'),
 ('MEREP', 10565, 639.8999989405274, 'Below Average'),
 ('WILMK', 11005, 586.0, 'Below Average'),
 ('TRADH', 10496, 189.9999998509884, 'Below Average'),
 ('QUEDE', 10989, 1353.599998474121, 'Below Average'),
 ('BSBEV', 10578, 477.0, 'Below Average'),
 ('NORTS', 10517, 352.0, 'Below Average'),
 ('KOENE', 10799, 1553.4999987483025, 'Above Average'),
 ('CACTU', 11054, 305.0, 'Below Average'),
 ('LEHMS', 10592, 516.4674974205718, 'Below Average'),
 ('BOTTM', 10492, 851.1999848365783, 'Below Average'),
 ('BERGS', 10572, 1501.0849882041662, 'Below Average'),
 ('LAUGB', 10810, 187.0, 'Below Average'),
 ('PICCO', 10747, 1912.8500003814697, 'Above Average'),
 ('ALFKI', 10835, 845.799999922514, 'Below Average'),
 ('SAVEA', 10700, 1638.3999938964844, 'Above Average'),
 ('OTTIK', 10508, 240.0, 'Below Average'),
 ('SUPRD', 10463, 713.299994468689, 'Below Average'),
 ('PRINI', 10336, 285.1200057077408, 'Below Average'),
 ('AROUT', 10768, 1477.0, 'Below Average'),
 ('HILAA', 10490, 3163.199993133545, 'Above Average'),
 ('KOENE', 10325, 1496.9999752044678, 'Below Average'),
 ('BOTTM', 10431, 1892.250019311905, 'Above Average'),
 ('FOLKO', 10434, 321.1199880409241, 'Below Average'),
 ('RICAR', 10622, 559.9999993294477, 'Below Average'),
 ('FOLIG', 10408, 1622.4000463485718, 'Above Average'),
 ('BONAP', 10876, 917.0, 'Below Average'),
 ('LEHMS', 10772, 3603.220016479492, 'Above Average'),
 ('TRAIH', 10822, 237.89999771118164, 'Below Average'),
 ('OLDWO', 10706, 1893.000015258789, 'Above Average'),
 ('FURIB', 10491, 259.50499591052534, 'Below Average'),
 ('GREAL', 11006, 329.685001373291, 'Below Average'),
 ('FRANS', 11060, 266.0, 'Below Average'),
 ('BLAUS', 11058, 858.0, 'Below Average'),
 ('BLONP', 10360, 7390.200078964233, 'Above Average'),
 ('WILMK', 10695, 642.0, 'Below Average'),
 ('HUNGO', 10373, 1366.4000498414039, 'Below Average'),
 ('ANTON', 10365, 403.1999816894531, 'Below Average'),
 ('KOENE', 10893, 5502.110000610352, 'Above Average'),
 ('BLONP', 10436, 1994.5199911314248, 'Above Average'),
 ('SEVES', 10800, 1468.9349963662773, 'Below Average'),
 ('TORTU', 10576, 838.4500160217285, 'Below Average'),
 ('AROUT', 10953, 4441.249996516854, 'Above Average'),
 ('BERGS', 10875, 709.5499949343503, 'Below Average'),
 ('HILAA', 10257, 1119.899953842163, 'Below Average'),
 ('REGGC', 10562, 488.6999923244119, 'Below Average'),
 ('HANAR', 10922, 742.5, 'Below Average'),
 ('BONAP', 11076, 792.7499985694885, 'Below Average'),
 ('FURIB', 10604, 230.84999961778522, 'Below Average'),
 ('WOLZA', 10870, 160.0, 'Below Average'),
 ('MAGAA', 10754, 55.19999885559082, 'Below Average'),
 ('FRANS', 10710, 93.49999904632568, 'Below Average'),
 ('ANTON', 10682, 375.5, 'Below Average'),
 ('REGGC', 10727, 1624.4999987259507, 'Above Average'),
 ('CENTC', 10259, 100.79999923706055, 'Below Average'),
 ('VAFFE', 10602, 48.75, 'Below Average'),
 ('KOENE', 10542, 469.1099952833355, 'Below Average'),
 ('HUNGO', 10516, 2381.0499690555034, 'Above Average'),
 ('BOTTM', 10389, 1832.8000297546387, 'Above Average'),
 ('HANAR', 10770, 236.25, 'Below Average'),
 ('WARTH', 10553, 1546.3000106811523, 'Above Average'),
 ('WELLI', 10935, 619.5, 'Below Average'),
 ('MORGK', 10945, 245.0, 'Below Average'),
 ('FAMIA', 10650, 1779.1999572366476, 'Above Average'),
 ('MEREP', 10339, 3354.0000956475733, 'Above Average'),
 ('HUNGO', 10661, 562.5999979041517, 'Below Average'),
 ('FRANK', 10791, 1829.7570034935625, 'Above Average'),
 ('FAMIA', 10414, 224.83000316366554, 'Below Average'),
 ('QUEEN', 10704, 595.5, 'Below Average'),
 ('FRANK', 10670, 2301.75, 'Above Average'),
 ('LAMAI', 11051, 35.99999986588955, 'Below Average'),
 ('SIMOB', 10642, 695.999997407198, 'Below Average'),
 ('QUEEN', 10961, 1119.8999999687076, 'Below Average'),
 ('WHITC', 10861, 3523.3999977111816, 'Above Average'),
 ('TOMSP', 10438, 454.00000212341547, 'Below Average'),
 ('WOLZA', 11044, 591.5999908447266, 'Below Average'),
 ('RANCH', 10828, 932.0, 'Below Average'),
 ('TOMSP', 10548, 240.09999465942383, 'Below Average'),
 ('HANAR', 10925, 475.14999666810036, 'Below Average'),
 ('HUNGO', 10646, 1446.0, 'Below Average'),
 ('GREAL', 10616, 4806.999996647239, 'Above Average'),
 ('HILAA', 10601, 2285.0, 'Above Average'),
 ('WARTH', 10526, 1151.3999923467636, 'Below Average'),
 ('LONEP', 10665, 1295.0, 'Below Average'),
 ('OTTIK', 10260, 1504.6500339508057, 'Below Average'),
 ('SAVEA', 10941, 4011.7499446868896, 'Above Average'),
 ('BONAP', 10932, 1788.629996739775, 'Above Average'),
 ('CHOPS', 10731, 1890.4999985173345, 'Above Average'),
 ('WHITC', 11032, 8902.5, 'Above Average'),
 ('FRANK', 10653, 1083.1500188060104, 'Below Average'),
 ('LONEP', 10867, 98.39999771118164, 'Below Average'),
 ('HUNGC', 10394, 442.0000171661377, 'Below Average'),
 ('WARTH', 10583, 2237.500002145767, 'Above Average'),
 ('OTTIK', 10407, 1193.9999771118164, 'Below Average'),
 ('LEHMS', 11070, 1629.9750097781418, 'Above Average'),
 ('FOLKO', 11001, 2769.0, 'Above Average'),
 ('QUEDE', 10379, 863.2799614918232, 'Below Average'),
 ('REGGC', 10942, 560.0, 'Below Average'),
 ('ALFKI', 10643, 814.4999828338623, 'Below Average'),
 ('LINOD', 10638, 2720.0499382019043, 'Above Average'),
 ('FURIB', 10551, 1677.300050151348, 'Above Average'),
 ('BONAP', 10511, 2549.9999821186066, 'Above Average'),
 ('GODOS', 10911, 858.0, 'Below Average'),
 ('WHITC', 11066, 928.7499942779541, 'Below Average'),
 ('ERNSH', 11008, 4680.899895212055, 'Above Average'),
 ('RANCH', 10916, 686.7000045776367, 'Below Average'),
 ('HUNGO', 10736, 996.9999694824219, 'Below Average'),
 ('SAVEA', 10627, 1185.7499854266644, 'Below Average'),
 ('SAVEA', 11030, 12615.050067901611, 'Above Average'),
 ('LEHMS', 10284, 1170.3749935626984, 'Below Average'),
 ('LONEP', 10317, 287.99999237060547, 'Below Average'),
 ('LAMAI', 10413, 2123.2000465393066, 'Above Average'),
 ('LILAS', 10461, 1538.700050354004, 'Above Average'),
 ('BSBEV', 10539, 355.5, 'Below Average'),
 ('LILAS', 10296, 1050.599967956543, 'Below Average'),
 ('LINOD', 10729, 1850.0, 'Above Average'),
 ('SPLIR', 10385, 691.2000096321106, 'Below Average'),
 ('BERGS', 10278, 1488.7999877929688, 'Below Average'),
 ('WILMK', 10910, 452.89999771118164, 'Below Average'),
 ('WANDK', 10348, 363.5999890804291, 'Below Average'),
 ('ERNSH', 10990, 4288.849974483252, 'Above Average'),
 ('SAVEA', 10657, 4371.599990844727, 'Above Average'),
 ('BERGS', 10672, 3815.249994110316, 'Above Average'),
 ('EASTC', 11047, 817.8750085830688, 'Below Average'),
 ('SEVES', 10547, 1792.7999954223633, 'Above Average'),
 ('COMMI', 11042, 405.7500114440918, 'Below Average'),
 ('BONAP', 10331, 88.50000143051147, 'Below Average'),
 ('SIMOB', 10417, 11188.400139808655, 'Above Average'),
 ('ALFKI', 10702, 330.0, 'Below Average'),
 ('PICCO', 11053, 3054.999991003424, 'Above Average'),
 ('PICCO', 10844, 735.0, 'Below Average'),
 ('GREAL', 10617, 1402.4999901652336, 'Below Average'),
 ('SUPRD', 10885, 1209.0, 'Below Average'),
 ('SPLIR', 10821, 678.0, 'Below Average'),
 ('BSBEV', 11023, 1500.0, 'Below Average'),
 ('CHOPS', 10519, 2314.1999993771315, 'Above Average'),
 ('SUPRD', 10302, 2708.800064086914, 'Above Average'),
 ('QUICK', 10285, 1743.3599956417083, 'Above Average'),
 ('SANTG', 10639, 500.0, 'Below Average'),
 ('GREAL', 10681, 1287.3999942600726, 'Below Average'),
 ('CACTU', 10819, 477.0, 'Below Average'),
 ('RICSU', 10751, 1631.4839757028817, 'Above Average'),
 ('FRANS', 11026, 1030.0, 'Below Average'),
 ('LETSS', 10884, 1378.069990221709, 'Below Average'),
 ('AROUT', 11016, 491.5, 'Below Average'),
 ('ISLAT', 10473, 230.40000915527344, 'Below Average'),
 ('ISLAT', 10749, 1080.0, 'Below Average'),
 ('SEVES', 10388, 1228.8000271737576, 'Below Average'),
 ('KOENE', 10323, 164.399995803833, 'Below Average'),
 ('RATTC', 10564, 1234.0499990321696, 'Below Average'),
 ('FOLKO', 10977, 2233.000030517578, 'Above Average'),
 ('LILAS', 10381, 112.0, 'Below Average'),
 ('FOLKO', 10460, 176.0999994277954, 'Below Average'),
 ('PICCO', 10427, 651.0000133514404, 'Below Average'),
 ('RICAR', 10481, 1472.0000305175781, 'Below Average'),
 ('QUEEN', 10913, 768.75, 'Below Average'),
 ('REGGC', 10428, 192.00000762939453, 'Below Average'),
 ('FRANK', 10675, 1422.9999923706055, 'Below Average'),
 ('HUNGO', 10701, 2864.4999799132347, 'Above Average'),
 ('KOENE', 10457, 1584.0, 'Above Average'),
 ('SANTG', 11015, 622.3499908447266, 'Below Average'),
 ('NORTS', 10752, 252.0, 'Below Average'),
 ('LETSS', 10735, 536.3999991118908, 'Below Average'),
 ('BSBEV', 10289, 479.40000343322754, 'Below Average'),
 ('VAFFE', 10769, 1684.2749773900955, 'Above Average'),
 ('THECR', 11003, 325.99999618530273, 'Below Average'),
 ('HILAA', 10957, 1762.6999816894531, 'Above Average'),
 ('ERNSH', 10764, 2285.999996215105, 'Above Average'),
 ('EASTC', 10726, 655.0, 'Below Average'),
 ('CHOPS', 11041, 1773.0000440776348, 'Above Average'),
 ('FRANS', 10807, 18.399999618530273, 'Below Average'),
 ('BERGS', 10689, 472.5, 'Below Average'),
 ('RATTC', 10401, 3868.6000175476074, 'Above Average'),
 ('VICTE', 10814, 1788.4499811828136, 'Above Average'),
 ('HANAR', 10690, 862.5, 'Below Average'),
 ('ANATR', 10759, 320.0, 'Below Average'),
 ('OLDWO', 10441, 1754.9999237060547, 'Above Average'),
 ('QUICK', 10540, 10191.699981689453, 'Above Average'),
 ('PRINI', 10433, 851.1999893188477, 'Below Average'),
 ('WOLZA', 10906, 427.5, 'Below Average'),
 ('BLAUS', 10582, 330.0, 'Below Average'),
 ('HUNGC', 10415, 102.4000015258789, 'Below Average'),
 ('FOLKO', 10378, 103.20000457763672, 'Below Average'),
 ('QUICK', 10938, 2731.875, 'Above Average'),
 ('PICCO', 10686, 1404.4499896466732, 'Below Average'),
 ('MAGAA', 10635, 1326.2250043448062, 'Below Average'),
 ('WARTH', 10437, 393.0000114440918, 'Below Average'),
 ('QUICK', 10845, 3812.699996329844, 'Above Average'),
 ('AROUT', 10741, 227.9999991506338, 'Below Average'),
 ('LILAS', 10357, 1167.6799776029588, 'Below Average'),
 ('BONAP', 10663, 1930.3999876141547, 'Above Average'),
 ('THECR', 10624, 1393.2399978637695, 'Below Average'),
 ('FURIB', 10352, 136.2999999642372, 'Below Average'),
 ('RATTC', 10262, 583.9999986290932, 'Below Average'),
 ('VAFFE', 10465, 2517.999988231063, 'Above Average'),
 ('HUNGO', 10912, 6200.5500411987305, 'Above Average'),
 ('NORTS', 11057, 45.0, 'Below Average'),
 ('FOLKO', 10824, 250.79999542236328, 'Below Average'),
 ('SAVEA', 10714, 2205.75, 'Above Average'),
 ('ERNSH', 10968, 1408.0, 'Below Average'),
 ('SAVEA', 10612, 6375.0, 'Above Average'),
 ('RICAR', 10813, 602.399999320507, 'Below Average'),
 ('RICAR', 10648, 372.37499959766865, 'Below Average'),
 ('RICSU', 10931, 799.199998497963, 'Below Average'),
 ('GOURL', 11049, 273.5999989807606, 'Below Average'),
 ('VINET', 10295, 121.5999984741211, 'Below Average'),
 ('ERNSH', 10571, 550.5874961391091, 'Below Average'),
 ('OLDWO', 10855, 2227.887526537478, 'Above Average'),
 ('LILAS', 10330, 1648.9999560117722, 'Above Average'),
 ('OLDWO', 11034, 539.400008931756, 'Below Average'),
 ('SPECD', 10907, 108.5, 'Below Average'),
 ('GODOS', 10303, 1117.7999706834555, 'Below Average'),
 ('TOMSP', 10608, 1064.0, 'Below Average'),
 ('WARTH', 11025, 269.99999955296516, 'Below Average'),
 ('LAZYK', 10482, 146.99999809265137, 'Below Average'),
 ('GALED', 10887, 70.0, 'Below Average'),
 ('HILAA', 10976, 911.9999694824219, 'Below Average'),
 ('SPLIR', 10349, 141.60000228881836, 'Below Average'),
 ('ANATR', 10308, 88.79999923706055, 'Below Average'),
 ('WILMK', 10879, 611.2999877929688, 'Below Average'),
 ('WELLI', 10644, 1371.7999992519617, 'Below Average'),
 ('ERNSH', 10368, 1689.7800372537972, 'Above Average'),
 ('BONAP', 10755, 1948.5, 'Above Average'),
 ('WHITC', 10740, 1415.9999886214732, 'Below Average'),
 ('ISLAT', 10674, 45.0, 'Below Average'),
 ('AROUT', 10864, 282.0, 'Below Average'),
 ('LINOD', 10405, 400.0, 'Below Average'),
 ('GODOS', 10550, 683.2999971136451, 'Below Average'),
 ('BLAUS', 10509, 136.79999542236328, 'Below Average'),
 ('OCEAN', 10958, 781.0000038146973, 'Below Average'),
 ('ROMEY', 10306, 498.5000157356262, 'Below Average'),
 ('SUPRD', 10252, 3597.9001445159315, 'Above Average'),
 ('ERNSH', 10979, 4813.500099182129, 'Above Average'),
 ('GODOS', 10948, 2362.25, 'Above Average'),
 ('MAGAA', 10275, 291.8399986839294, 'Below Average'),
 ('SAVEA', 11031, 2393.5, 'Above Average'),
 ('BLONP', 10584, 593.7499995343387, 'Below Average'),
 ('BERGS', 10733, 1458.9999694824219, 'Below Average'),
 ('REGGC', 10812, 1692.7999701619149, 'Above Average'),
 ('HUNGO', 10897, 10835.240051269531, 'Above Average'),
 ('GOURL', 10790, 722.4999949336052, 'Below Average'),
 ('SEVES', 10359, 3471.680034966469, 'Above Average'),
 ('SAVEA', 10324, 5275.714843202234, 'Above Average'),
 ('GROSR', 10785, 387.5, 'Below Average'),
 ('HUNGC', 10600, 479.79999923706055, 'Below Average'),
 ('TOMSP', 10446, 246.23999864816668, 'Below Average'),
 ('PICCO', 10597, 718.079991453588, 'Below Average'),
 ('KOENE', 10506, 415.79999931156635, 'Below Average'),
 ('FOLKO', 10993, 4895.437524318695, 'Above Average'),
 ('LEHMS', 10593, 1994.399992570281, 'Above Average'),
 ('QUICK', 10527, 1502.999997511506, 'Below Average'),
 ('SAVEA', 10757, 3081.9999771118164, 'Above Average'),
 ('TRAIH', 10574, 764.299991607666, 'Below Average'),
 ('KOENE', 10849, 967.8189896456004, 'Below Average'),
 ('AROUT', 10453, 407.69999675005675, 'Below Average'),
 ('LACOR', 10927, 800.0, 'Below Average'),
 ('CONSH', 10435, 631.5999813079834, 'Below Average'),
 ('QUEDE', 10421, 1194.2699925529955, 'Below Average'),
 ('LONEP', 10307, 424.00001525878906, 'Below Average'),
 ('BLAUS', 10501, 148.99999618530273, 'Below Average'),
 ('DRACD', 10363, 447.1999931335449, 'Below Average'),
 ('WHITC', 10904, 1924.2499732971191, 'Above Average'),
 ('THEBI', 10708, 180.4000015258789, 'Below Average'),
 ('QUEDE', 10647, 635.9999942779541, 'Below Average'),
 ('ERNSH', 10698, 3436.443460877441, 'Above Average'),
 ('BERGS', 10866, 1096.1999816894531, 'Below Average'),
 ('RICAR', 10287, 818.9999839067459, 'Below Average'),
 ('MAISD', 11004, 295.37999725341797, 'Below Average'),
 ('LONEP', 10544, 417.19998931884766, 'Below Average'),
 ('ERNSH', 10263, 1873.8000144958496, 'Above Average'),
 ('SAVEA', 10452, 2018.5000217333436, 'Above Average'),
 ('PICCO', 10392, 1439.9999618530273, 'Below Average'),
 ('QUICK', 10878, 1538.999998793006, 'Above Average'),
 ('ERNSH', 10442, 1792.0000076293945, 'Above Average'),
 ('CACTU', 10937, 644.7999877929688, 'Below Average'),
 ('BOTTM', 11045, 1309.5, 'Below Average'),
 ('WANDK', 10651, 397.79999828338623, 'Below Average'),
 ('PERIC', 11073, 300.0, 'Below Average'),
 ('HANAR', 11052, 1331.9999950379133, 'Below Average'),
 ('FRANK', 10929, 1174.75, 'Below Average'),
 ('LILAS', 10823, 2825.999995805323, 'Above Average'),
 ('QUICK', 10694, 4825.0, 'Above Average'),
 ('MAGAA', 10404, 1591.2499806322157, 'Above Average'),
 ('ERNSH', 10382, 2900.0, 'Above Average'),
 ('EASTC', 10987, 2771.999984741211, 'Above Average'),
 ('LONEP', 10662, 125.0, 'Below Average'),
 ('OTTIK', 10554, 1728.5250058922916, 'Above Average'),
 ('MEREP', 10570, 2465.2499980665743, 'Above Average'),

In [74]:
%%sql
WITH OrderValues AS (
    SELECT Orders.Customer_ID, 
           Orders.Order_ID, 
           SUM(Unit_Price * Quantity * (1 - Discount)) AS "Order Value"
    FROM Orders 
    JOIN Order_Details ON Orders.Order_ID = Order_Details.Order_ID
    GROUP BY Orders.Customer_ID, Orders.Order_ID
)
SELECT Customer_ID, 
       Order_ID, 
       "Order Value",
       CASE 
           WHEN "Order Value" > AVG("Order Value") OVER () THEN 'Above Average'
           ELSE 'Below Average'
       END AS "Value Category"
FROM OrderValues LIMIT 10;

 * postgresql://postgres:***@localhost:5432/northwind
10 rows affected.

[('VINET', 10248, 439.99999809265137, 'Below Average'),
 ('TOMSP', 10249, 1863.4000644683838, 'Above Average'),
 ('HANAR', 10250, 1552.600023412704, 'Above Average'),
 ('VICTE', 10251, 654.0599855789542, 'Below Average'),
 ('SUPRD', 10252, 3597.9001445159315, 'Above Average'),
 ('HANAR', 10253, 1444.7999839782715, 'Below Average'),
 ('CHOPS', 10254, 556.62000967741, 'Below Average'),
 ('RICSU', 10255, 2490.4999780654907, 'Above Average'),
 ('WELLI', 10256, 517.8000068664551, 'Below Average'),
 ('HILAA', 10257, 1119.899953842163, 'Below Average')]

In [83]:
%%sql
WITH total_sales AS (
SELECT category_id, SUM(od.unit_price*quantity*(1-discount)) AS total_sales
    FROM order_details od
    JOIN products p
    ON od.product_id=p.product_id
    GROUP BY category_id
)
SELECT category_id, total_sales, (total_sales/(SUM(total_sales) OVER()))*100 AS total_sales_percentage
FROM total_sales;

 * postgresql://postgres:***@localhost:5432/northwind
8 rows affected.

[(8, 131261.7365558489, 10.369920875492724),
 (7, 99984.58007357619, 7.8989674473124385),
 (1, 267868.17978624784, 21.162083500729633),
 (5, 95744.58735543818, 7.5640001510276695),
 (2, 106047.08460955074, 8.3779165607018),
 (4, 234507.2845305777, 18.52651084098727),
 (6, 163022.3602687388, 12.879069112449296),
 (3, 167357.22547338586, 13.221531511299172)]

In [96]:
%%sql
WITH total_sales_product AS (
SELECT category_id, p.product_id, SUM(od.unit_price*quantity*(1-discount)) AS total_sales
    FROM order_details od
    JOIN products p
    ON od.product_id=p.product_id
    GROUP BY category_id, p.product_id
)
SELECT category_id, product_id,total_sales, row_num
FROM(
SELECT category_id, product_id, total_sales, ROW_NUMBER() OVER(PARTITION BY category_id ORDER BY total_sales DESC) AS row_num
FROM total_sales_product) tmp
WHERE row_num<=3;

 * postgresql://postgres:***@localhost:5432/northwind
24 rows affected.

[(1, 38, 141396.7356273254, 1),
 (1, 43, 23526.699842727183, 2),
 (1, 2, 16355.959905386866, 3),
 (2, 63, 16701.095047264098, 1),
 (2, 61, 14352.599874171614, 2),
 (2, 65, 13869.8894459071, 3),
 (3, 62, 47234.969978504174, 1),
 (3, 20, 22563.36029526442, 2),
 (3, 26, 19849.14417082793, 3),
 (4, 59, 71155.69990943, 1),
 (4, 60, 46825.48029542655, 2),
 (4, 72, 24900.12939154029, 3),
 (5, 56, 42593.0598222503, 1),
 (5, 64, 21957.96757586673, 2),
 (5, 42, 8574.999964818358, 3),
 (6, 29, 80368.6724385033, 1),
 (6, 17, 32698.380216373203, 2),
 (6, 53, 20574.169932212233, 3),
 (7, 51, 41819.65024582073, 1),
 (7, 28, 25696.63978933155, 2),
 (7, 7, 22044.29998782277, 3),
 (8, 18, 29171.874963399023, 1),
 (8, 10, 20867.339869279265, 2),
 (8, 40, 17910.62964561701, 3)]